/* screen - personalizado-28 */

.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.montserratalternates-bold-picton-blue-49px {
  color: var(--picton-blue);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-28 {
  background-color: var(--black);
  background-image: url(../img/surface-pro-3---88@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-28 .retangulo-5-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 738px;
  position: absolute;
  top: 629px;
  width: 138px;
}
.personalizado-28 .retangulo-60-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 738px;
  position: absolute;
  top: 629px;
  width: 138px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --picton-blue: rgba(74,193,240,1.0);
  --white: rgba(255,255,255,1.0);
}