/* screen - personalizado-7 */

.personalizado-7 {
  background-color: var(--white);
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-7 .grupo-de-mascara-1-C61RwL {
  background-color: transparent;
  height: 990px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.personalizado-7 .retangulo-5-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 898px;
  position: absolute;
  top: 630px;
  width: 138px;
}
.personalizado-7 .retangulo-6-C61RwL {
  background-color: transparent;
  height: 990px;
  left: 1060px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.personalizado-7 .retangulo-7-C61RwL {
  background-color: transparent;
  height: 173px;
  left: 0px;
  position: absolute;
  top: 817px;
  width: 1060px;
}
.personalizado-7 .retangulo-8-C61RwL {
  background-color: transparent;
  height: 817px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 374px;
}
.personalizado-7 .retangulo-9-C61RwL {
  background-color: transparent;
  height: 157px;
  left: 374px;
  position: absolute;
  top: 0px;
  width: 686px;
}
.personalizado-7 .surface-pro-3-83-sQLHpx {
  background-color: transparent;
  height: calc(100.00% + 456px);
  left: 0px;
  position: absolute;
  top: -177px;
  width: calc(100.00% + 8px);
}
:root {
  --black: rgba(0,0,0,0.6);
  --white: rgba(255,255,255,1.0);
}