/* screen - personalizado-131 */

.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.montserratalternates-bold-picton-blue-49px {
  color: var(--picton-blue);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-131 {
  background-color: var(--black);
  background-image: url(../img/surface-pro-3---290-2@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-131 .escreva-aq-i-vassoura-C61RwL {
  background-color: transparent;
  border: 0;
  height: 29px;
  left: 536px;
  letter-spacing: 0.00px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  top: 760px;
  white-space: nowrap;
  width: 371px;
}
.personalizado-131 .escreva-aq-i-vassoura-C61RwL::placeholder {
  color: rgba(112,112,112,0.6);
}
.personalizado-131 .retangulo-39-C61RwL {
  background-color: var(--white);
  height: 43px;
  left: 536px;
  position: absolute;
  top: 750px;
  width: 369px;
}
.personalizado-131 .retangulo-49-C61RwL {
  background-color: transparent;
  height: 234px;
  left: 768px;
  position: absolute;
  top: 418px;
  width: 224px;
}
.personalizado-131 .retangulo-50-C61RwL {
  background-color: transparent;
  height: 150px;
  left: 656px;
  position: absolute;
  top: 826px;
  width: 124px;
}
.personalizado-131 .retangulo-82-C61RwL {
  background-color: var(--black);
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.personalizado-131 .surface-pro-3-299-C61RwL {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --picton-blue: rgba(74,193,240,1.0);
  --white: rgba(255,255,255,1.0);
}