# dependencies
node_modules/

# build
dist/

# env
.env
.env.*

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
backend.hcl
terraform.tfvars
terraform.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp

# astro
.astro/
