/* screen - personalizado-173 */

.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-173 {
  background-color: var(--white);
  background-image: url(../img/surface-pro-3---144-1@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-173 .retangulo-22-C61RwL {
  background-color: transparent;
  height: 118px;
  left: 51px;
  position: absolute;
  top: 0px;
  width: 118px;
}
.personalizado-173 .retangulo-23-C61RwL {
  background-color: transparent;
  height: 95px;
  left: 1154px;
  position: absolute;
  top: 23px;
  width: 268px;
}
.personalizado-173 .retangulo-29-C61RwL {
  background-color: transparent;
  height: 202px;
  left: 1175px;
  position: absolute;
  top: 762px;
  width: 247px;
}
.personalizado-173 .retangulo-30-C61RwL {
  background-color: transparent;
  height: 202px;
  left: 17px;
  position: absolute;
  top: 762px;
  width: 247px;
}
.personalizado-173 .retangulo-45-C61RwL {
  background-color: transparent;
  height: 664px;
  left: -1px;
  position: absolute;
  top: 118px;
  width: 1441px;
}
.personalizado-173 .retangulo-46-C61RwL {
  background-color: transparent;
  height: 182px;
  left: 213px;
  position: absolute;
  top: 782px;
  width: 1004px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --white: rgba(255,255,255,1.0);
}