/* screen - personalizado-155 */

.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.montserratalternates-bold-picton-blue-49px {
  color: var(--picton-blue);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-155 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 990px;
  justify-content: flex-start;
  min-width: 1440px;
  position: relative;
  width: auto;
}
.personalizado-155 .surface-pro-3-34-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 990px;
  position: relative;
  width: 1440px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --picton-blue: rgba(74,193,240,1.0);
  --white: rgba(255,255,255,1.0);
}