/* screen - personalizado-185 */

.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-185 {
  background-color: var(--white);
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-185 .group-109-C61RwL {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.personalizado-185 .surface-pro-3-141-C61RwL {
  background-color: transparent;
  height: 495px;
  left: 720px;
  position: absolute;
  top: 0px;
  width: 720px;
}
.personalizado-185 .surface-pro-3-142-C61RwL {
  background-color: transparent;
  height: 495px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 720px;
}
.personalizado-185 .surface-pro-3-143-C61RwL {
  background-color: transparent;
  height: 495px;
  left: 720px;
  position: absolute;
  top: 498px;
  width: 720px;
}
.personalizado-185 .surface-pro-3-144-C61RwL {
  background-color: transparent;
  height: 495px;
  left: 0px;
  position: absolute;
  top: 498px;
  width: 720px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --white: rgba(255,255,255,1.0);
}