/* screen - personalizado-86 */

.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.montserratalternates-bold-picton-blue-49px {
  color: var(--picton-blue);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-86 {
  align-items: center;
  background-color: var(--white);
  background-image: url(../img/surface-pro-3---142@1x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-86 .auto-flex-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 118px;
  justify-content: flex-start;
  margin-left: 33.0px;
  min-width: 1371px;
  position: relative;
  width: auto;
}
.personalizado-86 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 846px;
  margin-right: 1.0px;
  margin-top: 0px;
  position: relative;
  width: 1441px;
}
.personalizado-86 .retangulo-22-fhuxN3 {
  background-color: transparent;
  flex-shrink: 0;
  height: 118px;
  position: relative;
  width: 118px;
}
.personalizado-86 .retangulo-23-fhuxN3 {
  background-color: transparent;
  flex-shrink: 0;
  height: 95px;
  margin-left: 985px;
  position: relative;
  width: 268px;
}
.personalizado-86 .retangulo-29-4eduM0 {
  background-color: transparent;
  height: 202px;
  left: 1176px;
  position: absolute;
  top: 644px;
  width: 247px;
}
.personalizado-86 .retangulo-30-4eduM0 {
  background-color: transparent;
  height: 202px;
  left: 18px;
  position: absolute;
  top: 644px;
  width: 247px;
}
.personalizado-86 .retangulo-45-4eduM0 {
  background-color: transparent;
  height: 664px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1441px;
}
.personalizado-86 .retangulo-46-4eduM0 {
  background-color: transparent;
  height: 182px;
  left: 214px;
  position: absolute;
  top: 664px;
  width: 1004px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --picton-blue: rgba(74,193,240,1.0);
  --white: rgba(255,255,255,1.0);
}