/* screen - personalizado-14 */

.personalizado-14 {
  background-color: var(--white);
  background-image: url(../img/surface-pro-3---135@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --white: rgba(255,255,255,1.0);
}