/* screen - personalizado-64 */

.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-64 {
  background-color: var(--black);
  background-image: url(../img/surface-pro-3---293-1@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-64 .retangulo-47-C61RwL {
  background-color: transparent;
  height: 125px;
  left: 484px;
  position: relative;
  top: 589px;
  width: 463px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --white: rgba(255,255,255,1.0);
}