/* screen - personalizado-4 */

.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-4 {
  background-color: var(--white);
  background-image: url(../img/surface-pro-3---15@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-4 .insira-seu-nome-C61RwL {
  background-color: transparent;
  border: 0;
  height: 29px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 339px;
  width: 519px;
}
.personalizado-4 .insira-seu-nome-C61RwL::placeholder {
  color: rgba(112,112,112,0.6);
}
.personalizado-4 .insira-sua-idade-C61RwL {
  background-color: transparent;
  border: 0;
  height: 29px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 468px;
  width: 520px;
}
.personalizado-4 .insira-sua-idade-C61RwL::placeholder {
  color: rgba(112,112,112,0.6);
}
.personalizado-4 .retangulo-11-C61RwL {
  background-color: transparent;
  height: 112px;
  left: 51px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.personalizado-4 .retangulo-12-C61RwL {
  background-color: transparent;
  height: 154px;
  left: 522px;
  position: absolute;
  top: 37px;
  width: 390px;
}
.personalizado-4 .retangulo-13-C61RwL {
  background-color: transparent;
  height: 154px;
  left: 967px;
  position: absolute;
  top: 37px;
  width: 384px;
}
.personalizado-4 .retangulo-2-C61RwL {
  background-color: var(--white);
  height: 66px;
  left: 187px;
  position: absolute;
  top: 319px;
  width: 541px;
}
.personalizado-4 .retangulo-3-C61RwL {
  background-color: var(--white);
  height: 66px;
  left: 187px;
  position: absolute;
  top: 448px;
  width: 541px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --white: rgba(255,255,255,1.0);
}