/* screen - personalizado-3 */

.montserratalternates-bold-dove-gray-22px {
  color: var(--dove-gray);
  font-family: 'Montserrat Alternates', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.personalizado-3 {
  background-color: transparent;
  background-image: url(../img/surface-pro-3---18@1x.png);
  background-size: 100% 100%;
  height: 990px;
  position: relative;
  width: 1440px;
}
.personalizado-3 .retangulo-10-C61RwL {
  background-color: transparent;
  height: 222px;
  left: 963px;
  position: absolute;
  top: 715px;
  width: 424px;
}
.personalizado-3 .retangulo-10-VMr6Om {
  background-color: transparent;
  height: 222px;
  left: 963px;
  position: absolute;
  top: 715px;
  width: 424px;
}
.personalizado-3 .retangulo-17-C61RwL {
  background-color: transparent;
  height: 326px;
  left: 587px;
  position: absolute;
  top: 639px;
  width: 267px;
}
.personalizado-3 .retangulo-4-C61RwL {
  background-color: transparent;
  height: 227px;
  left: 150px;
  position: absolute;
  top: 699px;
  width: 311px;
}
.personalizado-3 .retangulo-4-VMr6Om {
  background-color: transparent;
  height: 227px;
  left: 150px;
  position: absolute;
  top: 699px;
  width: 311px;
}
:root {
  --black: rgba(0,0,0,0.6);
  --dove-gray: rgba(112,112,112,1.0);
  --white: rgba(255,255,255,1.0);
}